/* @import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&display=swap"); */
@import url("https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&family=Quicksand:wght@300..700&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Quicksand", sans-serif;
}
html {
  scroll-behavior: smooth;
}
/* body::-webkit-scrollbar {
  display: none;
} */
.hero {
  background-size: cover;
  min-height: 90vh;
  background-color: #56a0d3;
  color: white;
}
.hero-header {
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: #004cb0; */
}
/* remove native element for a tag */
a {
  text-decoration: none;
  color: white;
}
.hero-header-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 95%;
}
.hero-header_logo {
  width: 70%;
  height: 100%;
  max-width: 300px;
  display: flex;
  align-items: center;
  font-weight: 600;
  font-size: 28px;
}
.logo {
  width: 60%;
  max-width: 180px;
}
.hero-header_nav {
  width: 30%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.hero-body {
  width: 100%;
  height: 90%;
  display: flex;
  justify-content: center;
  position: relative;
}
.hero-body-inner {
  width: 95%;
  display: flex;
  position: relative;
}
.hero-body-text {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.hero-image {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 45%;
}
.gif-container {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.disabled {
  opacity: 0.3;
}
.demo-text {
  color: white;
  /* font-size: 20px; */
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
}
#send {
  display: none;
}
#hollowSquare {
  display: none;
}
#video-action-disabled {
  display: none;
}
.hollow-square {
  width: 60%;
  height: 50%;
  border: 4px solid red;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  margin-bottom: 30px;
  display: none;
}
.gif-container-md {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding-top: 20px;
  padding-bottom: 30px;
}
.demo {
  width: 90%;
  height: 80%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  position: relative;
  /* background-color: black; */
  padding-bottom: 20px;
}
button {
  width: 100px;
  height: 40px;
  background-color: #56a0d3;
  color: white;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  margin-top: 20px;
}
.subscription {
  background-color: #004cb0;
  width: 70%;
  border-radius: 20px;
  display: none;
  margin-top: 70px;
}
.success {
  background-color: #004cb0;
  width: 70%;
  border-radius: 20px;
  margin-top: 70px;
  display: none;
}
.subscription-inner {
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.subscription-inner-input {
  width: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  height: 50px;
  border-radius: 10px;
  background-color: white;
}
input {
  width: 95%;
  height: 40px;
  border: none;
  border-radius: 10px;
  padding-left: 10px;
  outline: none;
}
.subscription-inner-text {
  font-size: large;
  text-align: center;
}
.app-samples-inner {
  width: 95%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  height: 90%;
}
.app-samples {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
}
.app-card {
  /* width: 23%; */
  height: 100%;
  width: 150px;
  margin: 5px;
  height: 280px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.app-card-main {
  border-radius: 10px;
  width: 100px;
  height: auto;
}
.app-card-label {
  width: 100%;
  height: 40px;
  text-align: center;
  padding-top: 10px;
}
.image {
  /* background-color: white; */
}
#stop-audio {
  display: none;
}
#image-audio {
  display: none;
}
#stop-audio-md {
  display: none;
}
#image-audio-md {
  display: none;
}
.audio {
  visibility: hidden;
}
.audio-md {
  visibility: hidden;
}
.video {
  display: none;
}
#video-setting {
  display: none;
}
#audio-setting {
  display: none;
}
.video-md {
  display: none;
}
#video-setting-md {
  display: none;
}
#audio-setting-md {
  display: none;
}
.setting-img {
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  cursor: pointer;
}
.demo-action {
  width: 90%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 20px;
  height: 100px;
  /* background-color: red; */
}
.hero-image-gif {
  width: 40%;
  /* background-color: black; */
}
#audio-action {
  display: none;
}
.action {
  width: 40%;
  background-color: #004cb0;
  color: white;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 20px;
  height: 50px;
  cursor: pointer;
}
.setting {
  width: 18%;
  display: flex;
  justify-content: center;
}
.why-hero-image {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 45%;
  opacity: 0.8;
}
.what-hero-image {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 55%;
  z-index: -1;
  opacity: 0.5;
}

.app-image {
  width: 250px;
  height: 86px;
}
.app-image-google {
  width: 250px;
  height: 86px;
}
.trust-stars {
  width: 100px;
}
.trust-score {
  width: 100%;
  max-width: 260px;
  display: flex;
  font-weight: 600;
  margin-top: 40px;
  justify-content: space-between;
}
.hero-trust-span {
  color: #007753;
}
.hero-text {
  font-size: 60px;
  white-space: nowrap;
  margin-bottom: 50px;
}
.hero-sub-text {
  width: 80%;
  margin-top: 20px;
}
.app-image-container {
  width: 60%;
  display: flex;
  justify-content: space-between;
  height: 60px;
}
.why-section {
  background-color: white;
  width: 100%;
  min-height: 90vh;
  color: black;
  display: flex;
  justify-content: center;
  position: relative;
  padding-bottom: 30px;
  display: none;
}
.why-section-inner {
  width: 95%;
  display: flex;
}
.why1 {
  height: 100%;
  width: 50%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  display: none;
}
.why1-title {
  font-size: 44px;
}
.why1-sub-title {
  width: 60%;
  margin-top: 10px;
  font-size: 18px;
}
.why1-icon-container {
  width: 100%;
  display: flex;
  margin-top: 60px;
}
.why1-icon_img {
  width: 60px;
  height: 60px;
  background: #faf8fc;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.why1-icon-image {
  width: 35px;
  height: 35px;
}
.why1-icon {
  width: 50%;
}
.why1-icon h3 {
  margin-top: 10px;
  font-size: 22px;
}
.why1-icon p {
  margin-top: 10px;
  width: 60%;
}
.why2 {
  height: 100%;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
}
.why2-card {
  background: #56a0d3;
  box-shadow: 0px 12px 24px rgba(218, 218, 218, 0.08);
  border-radius: 24px;
  height: 75%;
  max-height: 90vh;
  width: 95%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.why2-side1 {
  height: 90%;
  width: 60%;
  position: relative;
  color: white;
  z-index: 1;
}
.why2-side1 h2 {
  color: white !important;
}
.why2-payment-icon {
  background: #faf8fc;
  border-radius: 24px;
  width: 100px;
  height: 70px;
  position: absolute;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.why2-card-inner .first {
  bottom: 35%;
}
.why2-card-inner .second {
  top: 80%;
  left: 30%;
}
.why2-card-inner .third {
  top: 40%;
  left: -30%;
  background: #56a0d3;
  box-shadow: 0px 4px 24px rgba(255, 255, 255, 0.08);
  color: white;
}
.why2-card-inner {
  width: 80%;
  height: 80%;
  display: flex;
  align-items: center;
}
.why2-side2 {
  width: 40%;
  height: 100%;
  max-height: 90vh;
  display: flex;
  justify-content: end;
  position: relative;
}
.why2-payment-image {
  height: 100%;
}
.what-section {
  display: none;
  width: 100%;
  height: 100vh;
  display: flex;
  position: relative;
  background-color: #56a0d3;
  color: white;
  display: none;
}
.what1 {
  width: 50%;
  display: flex;
  align-items: center;
  position: relative;
  flex-direction: column;
  display: none;
}
.what1-img-1 {
  width: 50%;
  height: 55%;
  margin-top: 10%;
}
.what1-img-2 {
  position: absolute;
  left: 50%;
  width: 30%;
  top: 45%;
}
.what1-img-3 {
  position: absolute;
  top: 62%;
  width: 30%;
}
.what2 {
  width: 50%;
  justify-content: center;
  align-items: center;
  display: flex;
  display: none;
}
.what2-inner {
  width: 90%;
  height: 95%;
  align-items: center;
  display: flex;
  flex-direction: column;
  text-align: end;
}
.what2-text {
  width: 100%;
  font-size: 34px;
  text-align: end;
  margin-top: 30px;
}
.what-info-container {
  margin-top: 15px;
}
.what-info {
  display: flex;
  margin-top: 10px;
}
.what2-inner .second {
  padding-top: 40px;
}
.what2-inner .third {
  padding-top: 40px;
}
.what-star {
  width: 30px;
  height: 30px;
  padding-left: 10px;
}
.what-info-inner p {
  margin-top: 10px;
}
.product-section {
  display: none;
  width: 100%;
  height: 100vh;
  display: flex;
  background-color: white;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  display: none;
}
.product-section-inner {
  width: 95%;
  height: 90%;
  display: flex;
}
.product-section-text {
  width: 50%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.product-section-text h1 {
  font-size: 40px;
  font-weight: bold;
}
.product-section-text p {
  width: 60%;
  margin-top: 10px;
}
.product-section-box {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.psb {
  background: #faf8fc;
  border-radius: 40px;
  width: 200px;
  height: 200px;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  display: none;
}
.psb-inner {
  width: 80%;
  height: 80%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.pbs-icon {
  width: 50px;
  height: 50px;
  background-color: #56a0d3;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  margin-bottom: 20px;
}
.pbs-icon img {
  width: 30px;
  height: 30px;
}
.psb-inner p {
  font-size: 12px;
}
.psb-inner h3 {
  font-size: 16px;
}
.product-section-box .first {
  top: 10%;
  left: 5%;
}
.product-section-box .second {
  top: 55%;
  left: 0%;
}
.product-section-box .third {
  top: 0%;
  left: 55%;
}
.product-section-box .fourth {
  top: 50%;
  left: 50%;
}
.manage-section {
  display: none;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background: #56a0d3;
  color: white;
  display: none;
}
.manage-section-inner {
  width: 95%;
  height: 80%;
  display: flex;
}
.manage1 {
  width: 30%;
}
.manage1 img {
  height: 100%;
}
.mab-side1-no {
  font-weight: bold;
}
.manage2 {
  width: 70%;
  display: flex;
  flex-direction: column;
}
.manage2 h2 {
  font-size: 44px;
  text-align: end;
  padding-right: 30px;
}
.manage2-adv {
  width: 100%;
  display: flex;
  justify-content: end;
  align-items: center;
  margin-top: 20px;
}
.manage2-adv-inner {
  width: 65%;
}
.manage2-adv-box {
  width: 80%;
  height: 115px;
}
.manage2-adv-box-inner {
  display: flex;
  width: 100%;
  height: 100%;
  margin-top: 20px;
}
.mab-side1 {
  width: 10%;
  display: flex;
  justify-content: space-between;
  height: 100%;
  color: #007753;
  font-size: 20px;
  flex-direction: column;
  align-items: center;
}
.mab-side1-line {
  width: 2px;
  height: 77%;
  background-color: #007753;
}
.mab-side2 {
  width: 70%;
}
.mab-side2 p {
  margin-top: 10px;
}
.app-section {
  display: none;
  width: 100%;
  height: 75vh;
  background-color: #f0eef2;
  display: flex;
  justify-content: center;
  align-items: center;
}
.app-section-inner {
  width: 95%;
  height: 75%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.app-section-inner h1 {
  font-size: 50px;
  width: 57%;
  text-align: center;
}
.app-section-inner p {
  font-size: 20px;
  text-align: center;
  width: 40%;
  margin-top: 20px;
}
.app-section-image {
  margin-top: 50px;
  width: 30%;
  justify-content: space-between;
  display: flex;
}
.footer-section {
  display: none;
  width: 100%;
  height: 40vh;
  background-color: white;
  color: black;
  display: flex;
}
.footer-side1 {
  width: 40%;
  position: relative;
}
.footer-side1-text {
  width: 100%;
  display: flex;
  justify-content: end;
  position: absolute;
  top: 42%;
}
.footer-side1 p {
  width: 91%;
}
.footer-side2 {
  width: 60%;
  display: flex;
  align-items: center;
}
.footer-bar {
  width: 33.33%;
  height: 50%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column;
}
.footer-header-text {
  font-size: 18px;
  font-weight: bold;
}
.hero-image-sd {
  display: none;
}
.md-sd {
  display: none;
}

.footer-md {
  background-color: white;
  color: black;
  width: 100%;
  display: flex;
  justify-content: center;
  display: none;
}
.footer-inner-md {
  padding-top: 30px;
  padding-bottom: 30px;
  width: 90%;
}

.footer-bar-md {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.logo-text-md {
  margin-bottom: 30px;
  font-size: 16px;
}

.footer-bar-inner-md {
  height: 130px;
  width: 100%;
  max-width: 250px;
}
.footer-bar-inner-md p {
  padding-top: 6px;
}
.get-md {
  background-color: #f0eef2;
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
}
.get-md-inner {
  width: 90%;
  padding-top: 60px;
  padding-bottom: 90px;
}
.get-md-image {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  margin-top: 20px;
}
.get-md-text {
  width: 100%;
  text-align: center;
}
.get-md-text h1 {
  font-size: 30px;
}
.get-md-text p {
  margin-top: 20px;
  font-size: 18px;
  padding-bottom: 30px;
}
.app-image-google-md {
  width: 150px;
  height: 50px;
}
.app-image-md {
  width: 120px;
  height: 50px;
  margin-top: 20px;
}
.manage-md {
  width: 100%;
  display: flex;
  justify-content: center;
  position: relative;
  background-color: #56a0d3;
  display: none;
  color: white;
}
.manage-inner-md {
  width: 90%;
  padding-top: 40px;
  padding-bottom: 30px;
}
.manage-phone-md {
  width: 100%;
  margin-top: 60px;
}
.manage-header-text-md {
  text-align: end;
  font-size: 18px;
}
.manage-adv-md {
  width: 100%;
  margin-top: 20px;
  max-width: 400px;
}
.manage-main-inner-md {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.manage-adv-box-md {
  width: 100%;
  height: 100px;
  display: flex;
  padding-top: 20px;
}
.mab-side1-md {
  width: 10%;
  display: flex;
  justify-content: space-between;
  height: 100%;
  color: #007753;
  font-size: 20px;
  flex-direction: column;
  align-items: center;
}
.mab-side1-no-md {
  font-weight: bold;
}
.manage-adv-box-inner-md {
  display: flex;
  width: 100%;
  height: 100%;
  padding-top: 20px;
}
.mab-side1-line-md {
  width: 2px;
  height: 77%;
  background-color: #007753;
}
.mab-side2-md {
  width: 70%;
}
.mab-side2-md p {
  padding-top: 10px;
  padding-bottom: 30px;
}
.mab-side2-md h3 {
  padding-top: 2px;
}
.product-md {
  background-color: white;
  color: black;
  width: 100%;
  display: flex;
  justify-content: center;
  min-height: 100vh;
  padding-bottom: 40px;
  display: none;
}
.product-inner-md {
  width: 90%;
  padding-top: 40px;
  padding-bottom: 30px;
  position: relative;
}
.product-section-md {
  width: 100%;
  position: relative;
  margin-top: 50px;
}
.psb-md {
  background: #faf8fc;
  border-radius: 25px;
  width: 155px;
  height: 160px;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  display: none;
}
.psb-inner-md {
  width: 85%;
  height: 85%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.pbs-icon-md {
  width: 50px;
  height: 50px;
  background-color: #56a0d3;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  margin-bottom: 10px;
}
.psb-inner-md p {
  font-size: 10px;
}
.psb-inner-md h3 {
  font-size: 12px;
}
.product-section-md .first {
  left: 0;
  top: 5vh;
}
.product-section-md .second {
  left: 0;
  top: 35vh;
}
#upload-action {
  position: relative;
}
.product-section-md .third {
  right: 0;
}
.product-section-md .fourth {
  right: 3%;
  top: 25vh;
}
.pbs-icon-md img {
  width: 25px;
  height: 25px;
}
.product-title-text-md {
  margin-top: 30px;
}
.product-title-text-md h1 {
  font-size: 34px;
}
.product-title-text-md p {
  width: 85%;
}
.what-md {
  min-height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  text-align: end;
  position: relative;
  background-color: #56a0d3;
  color: white;
}
.what-inner-md {
  width: 90%;
  padding-top: 30px;
  padding-bottom: 190px;
}
.what-inner-md .what1 {
  width: 100%;
  height: 40vh;
}
.what-inner-md .what1-img-1 {
  width: 80%;
  height: 75%;
}
.what-inner-md .what1-img-2 {
  left: 40%;
  width: 55%;
  top: 55%;
}
.what-inner-md .what1-img-3 {
  top: 82%;
  width: 60%;
}
.why-md {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: white;
  color: black;
  padding-bottom: 60px;
  position: relative;
  display: none;
}
.why-inner-md {
  width: 90%;
  padding-top: 30px;
  padding-bottom: 30px;
}
.why-text-md h1 {
  font-size: 34px;
}
.why-text-md p {
  width: 85%;
  margin-top: 10px;
  font-size: 14px;
}
.why-icon-container-md {
  width: 100%;
  display: flex;
  margin-top: 30px;
  flex-direction: column;
}
.why-icon-img-md {
  background: #faf8fc;
  border-radius: 3.9619px;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.why-icon-img-md img {
  width: 25px;
  height: 25px;
}
.why-card-md {
  margin-top: 30px;
  background: #56a0d3;
  box-shadow: 0px 6.07692px 12.1538px rgba(218, 218, 218, 0.08);
  border-radius: 12.1538px;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 30px;
}
.why-card-inner-md {
  width: 90%;
  height: 90%;
  display: flex;
}
.why2-payment-image-md {
  width: 80%;
  height: 100%;
}
.why-card-side1-md {
  width: 50%;
  position: relative;
}
.why-card-side2-md {
  width: 50%;
  display: flex;
  justify-content: end;
  position: relative;
  color: white;
}
.why-icon-md p {
  font-size: 12px;
  width: 80%;
  margin-top: 10px;
}
.why-icon-md h3 {
  font-size: 16px;
  width: 80%;
  margin-top: 10px;
}
.why-card-text {
  color: white;
}
.why-card-text p {
  font-size: 12px;
  margin-top: 10px;
  color: white;
}
.why-card-side2-md .third {
  background: #56a0d3;
  box-shadow: 0px 2.02564px 12.1538px rgba(255, 255, 255, 0.08);
  border-radius: 12.1538px;
  color: white;
  top: 37%;
  right: 40%;
}
.why-card-side1-md .first {
  top: 45%;
}
.why-card-side1-md .second {
  top: 75%;
  left: 40%;
}
.hero-md {
  min-height: 110vh;
  display: flex;
  justify-content: center;
  background-color: #56a0d3;
  color: white;
}
.hero-md-inner {
  width: 90%;
  height: 90%;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 5vh;
}
.hero-md-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  height: 100px;
}
.logo-md {
  width: 160px;
  height: 50px;
  visibility: hidden;
}
.hero-md-app-download-img-google {
  width: 150px;
  height: 50px;
}
.hero-md-app-download-img-apple {
  width: 150px;
  height: 50px;
}
.hero-md-text-title {
  font-size: 44px;
  font-weight: bold;
}
.hero-md-text-sub-title {
  margin-top: 30px;
  font-size: 18px;
}
.hero-md-rating {
  display: flex;
  margin-top: 30px;
}
.hero-md-app-download {
  margin-top: 20px;
  justify-content: center;
  align-items: center;
  display: flex;
  width: 100%;
}
.hero-md-image {
  position: absolute;
  bottom: -10vh;
  right: 0;
  width: 100%;
}
.why-circle-md-image {
  position: absolute;
  bottom: 0vh;
  right: 0;
  width: 100%;
}
.what-circle-md-image {
  position: absolute;
  bottom: 65vh;
  right: 0;
  width: 400px;
  height: 400px;
  z-index: -1;
  opacity: 0.5;
}
.hero-md-nav-line {
  width: 40px;
  height: 40px;
}
.product-md-star {
  position: absolute;
}
.product-inner-md .first-star {
  top: 3%;
  height: 40px;
}
.product-inner-md .second-star {
  top: 10%;
  left: 90%;
  height: 25px;
}
.product-inner-md .third-star {
  top: 59%;
  left: 32%;
  height: 40px;
}
.product-inner-md .fourth-star {
  top: 85%;
  left: 60%;
  height: 40px;
}
.product-inner-md .fifth-star {
  top: 95%;
  left: 20%;
  height: 25px;
}
.manage-circle-md-image {
  position: absolute;
  bottom: 90vh;
  right: 0;
  width: 400px;
  height: 400px;
  z-index: -1;
  opacity: 0.5;
}
.header-cta {
  width: 150px;
  height: 40px;
  background-color: #004cb0;
  color: white;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.product-section .first-star {
  top: 20%;
  height: 40px;
  left: 2.5%;
}
.product-section .second-star {
  top: 30%;
  left: 40%;
  height: 25px;
}
.product-section .third-star {
  top: 80%;
  left: 22%;
  height: 20px;
}
.product-section .fourth-star {
  top: 9%;
  left: 72%;
  height: 20px;
}
.modal {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav-modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: #56a0d3;
  /* display: flex; */
  justify-content: center;
  align-items: center;
}
.nav {
  width: 90%;
  max-width: 350px;
  height: 350px;
  background-color: white;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav-inner {
  width: 90%;
  height: 100%;
}
.modal-text-1 {
  font-size: 18px;
  font-weight: bold;
  margin-top: 20px;
  text-align: center;
}
.modal-image {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.modal-image-src {
  width: 60%;
}
.modal-cta-main {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.modal-cta {
  background-color: white;
  color: black;
  width: 50%;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  margin-top: 20px;
}
.nav-modal-inner {
  height: 100%;
  padding-top: 150px;
}
.nav-modal-child {
  font-size: 16px;
  font-weight: bold;
  padding: 20px;
}

.why-section,
.what-section,
.product-section,
.manage-section,
.app-section,
.footer-section {
  display: flex;
  display: none;
}

.hero {
  display: block;
}

.hero-md,
.why-md,
.what-md,
.product-md,
.manage-md,
.get-md,
.footer-md {
  display: none;
}
@media only screen and (max-width: 1024px) {
  .why-section,
  .what-section,
  .product-section,
  .manage-section,
  .app-section,
  .footer-section {
    display: none;
  }

  /* .hero {
    display: none;
  } */

  .hero-md {
    display: none;
  }

  .hero-header {
    display: none;
  }

  .hero {
    min-height: 110vh;
    display: flex;
    justify-content: center;
    background-color: #56a0d3;
    color: white;
  }
  .hero-body-inner {
    width: 90%;
    height: 90%;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 5vh;
  }
  .hero-body-text {
    width: 100%;
  }
  .logo {
    width: 160px;
    height: 50px;
    visibility: hidden;
  }
  .app-image-google {
    width: 150px;
    height: 50px;
  }
  .app-image {
    width: 150px;
    height: 50px;
  }
  .hero-text-title {
    font-size: 44px;
    font-weight: bold;
  }
  .hero-text-sub-title {
    margin-top: 30px;
    font-size: 18px;
  }
  .hero-rating {
    display: flex;
    margin-top: 30px;
  }
  .hero-app-download {
    margin-top: 20px;
    justify-content: center;
    align-items: center;
    display: flex;
    width: 100%;
  }
  .hero-image {
    position: absolute;
    bottom: -10vh;
    right: 0;
    width: 100%;
  }
  .gif-container {
    width: 100%;
  }
  .hero-text {
    font-size: 34px;
    text-align: center;
  }
  .app-image-container {
    justify-content: center;
    width: 100%;
  }
  .hero-sub-text {
    text-align: center;
    width: 100%;
  }
  .hollow-square {
    height: 40%;
    margin-top: 20px;
  }
  .demo-action {
    margin-top: 0;
    height: auto;
  }
  .action {
    font-size: 12px;
  }
  .subscription {
    width: 100%;
  }
  .subscription-inner-input {
    width: 100%;
  }
  .setting-img {
    width: 25px;
    height: 25px;
  }
  .image {
    width: 100%;
    height: 100%;
  }
  .why-md,
  .what-md,
  .product-md,
  .manage-md,
  .get-md,
  .footer-md {
    display: flex;
    display: none;
  }
  .gif-container {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}
.hero-use-banner {
  width: 100%;
  height: 15vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  /* background-color: #ffcc00; */
  background-color: white;
  color: white;
}
.avatar {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
  flex-direction: column;
}
.avatar__image_main {
  width: 400px;
}
.logo_avatar {
  padding: 10px;
}
.avatar_bar {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5vh;
  background-color: #56a0d3;
  margin-top: 20px;
  max-width: 650px;
  border-radius: 20px;
}
.avatar_nav {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.avatar_circle {
  width: 100px;
  height: 100px;
  background-color: #56a0d3;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  margin-right: 20px;
  color: white;
}
